/* My custom CSS for bootstrap */

body{
    font-family: 'Open Sans', sans-serif;
    font-size: 0.9em;
}


.logo{
    font-family: 'Pacifico', cursive !important;
    font-size: 2.2em !important;
    color: rgba(201, 35, 41,1) !important;
}

h1 {
    font-family: 'Open Sans', sans-serif!important;
    font-weight: 400 !important;

}

.btn-primary{
    background-color:rgba(201, 35, 41,1) !important;
    border-color: rgba(201, 35, 41,1) !important;
}

.btn-primary:hover, .btn-primary:focus, .btn-primary:active {
    background-color:rgba(145, 23, 27, 1) !important;
    border-color: rgba(201, 35, 41,1) !important;
}